.playlist-container {
    margin: auto;
    width: 100%;
    overflow-y: scroll;
}

.header {
    border-bottom: 1.5px solid white;
    border-color: rgba(128, 128, 128, 0.8);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.song {
    position: relative;
    display: flex;
    gap:15px;
    /* justify-content: space-between; */
    align-items: center;
    /* height: 75px; */
    /* border-bottom: 1px solid grey; */
    /* padding-bottom: 15px; */
}

.song:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.35);
}

.thumbnail2 {
    border-radius: 5px;
    width: 75px;
}

.test {
    display: flex;
    /* justify-content: space; */
    gap: 15px;
    align-items: center;
    /* width: 200px; */
    
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.titleContainer {
    /* width: 50%; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist {
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.runtime {
    margin-left: auto;
}