.library-container {
    grid-area: library;
    /* background-color: #1b1b1b; */
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(0, 0, 0, 1);
    transition: background-color .2s ease-in-out;
    position: relative
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar.closed .nav-item {
    border-bottom: none;
}

.nav-item {
    flex: 1;
    text-align: center;
    padding: .8rem;
    font-size: 1.25rem;
    border-bottom: 1px solid #555;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item.active {
    border-bottom: 1px solid #fff;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
    height: auto;
}

.menu-content.open {
    max-height: 80vh;
}

.playlists-container {
    height: 80vh;
}


@media (min-width: 992px) {
    .menu-content.open {
        max-height: 100%;
    }
}