.media-controls-container {
    grid-area: media-controls;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

/* #seek-slider {
    width: 100%;
    position: relative;
    top: -8%;
    grid-area: seek;
} */

#seek-slider {
    width: 80%;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.controls div {
    cursor: pointer;
}

#previous .fa-solid,
#next .fa-solid {
    color: white
}

#play-icon {
    font-size: 3rem;
    background-color: white;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    font-size: 2rem;
    color: #0d0d0d;
}

/* Progress bar styles */
input[type="range"] {
    background: transparent;
    line-height: 160px;
}

/* Firefox Range Styling */
input[type="range"]::-moz-range-track {
    background: white;
    cursor: pointer;
    cursor: pointer;
    height: .5rem;
}


input[type="range"]:hover::-moz-range-thumb {
    background: white;
    position: absolute;
    top: 0;
}

input[type="range"]::-moz-range-progress {
    background-color: #81c14b;
    height: .5rem;
}

input[type="range"]::-moz-range-thumb {
    border-color: white;
    position: absolute;
    top: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 10px;
    height: .5rem;
}

progress {
    --webkit-appearance: none;
}

::-webkit-progress-value {
    background-color: red;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
}

.duration {
    display: none;
}

.wide {
    width: 80%;
    margin: 0 auto;
}

.media-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    /* justify-content: center; */
    margin: 0 1rem 0 1rem;
}

@media (min-width: 992px) {
    .media-controls-container {
        position: static;
        transform: none;
        padding: 20px 0;
        margin: auto 0;
    }
}