.media-controls-container {
    background-color: #1f1f1f;
    width: 100%;
    grid-area: media-controls-container;
}

#seek-slider {
    width: 100%;
    position: relative;
    top: -8%;
    grid-area: seek;

}

.controls {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin: auto 0;
    padding: 1rem;
}


.controls button {
    background: transparent;
    border-color: transparent;
}

.control-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.fa-solid {
    font-size: 1.4rem;
}

.title {
    margin: auto 0px auto 0;
    max-width: 55%;
    text-align: center;
}

input[type="range"] {
    background: transparent;
    line-height: 160px;
}

/* Firefox Range Styling */
input[type="range"]::-moz-range-track {
    background: white;
    cursor: pointer;
    cursor: pointer;
    height: .5rem;
}


input[type="range"]:hover::-moz-range-thumb {
    background: white;
    position: absolute;
    top: 0;
}

input[type="range"]::-moz-range-progress {
    background-color: #81c14b;
    height: .5rem;
}

input[type="range"]::-moz-range-thumb {
    border-color: white;
    position: absolute;
    top: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 10px;
    height: .5rem;
}

progress {
    --webkit-appearance: none;
}

::-webkit-progress-value {
    background-color: red;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
}

.duration {
    display: none;
}

@media (min-width: 992px) {
    .controls {
        width: 200px;
    }

    .fa-solid {
        font-size: 2rem;

        /* width: 80px; */
        /* height: 80px; */
    }
}

.media-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    /* justify-content: center; */
    margin: 0 1rem 0 1rem;
}