.header {
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.8);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.song {
    display: flex;
    gap:15px;
    align-items: center;
    position: relative;
}

.song:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.35);
}

.song a {
    cursor: pointer;
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.titleContainer {
    overflow: hidden;
    text-overflow: ellipsis;        
    white-space: nowrap;
}

.medium-font {
    font-size: 1.35rem;
}

.opaque {
    color: rgba(255, 255, 255, .3);
}


.playlist {
    margin: 0px 10px 0px 10px;
    gap: 20px;
    overflow-y: scroll;
    justify-content: flex-start;
    height: 100%;
    padding: 10px 0;
}


.runtime {
    margin-left: auto;
    margin-right: 1.5rem;
    font-size: 1.3rem;
}

.upload {
    flex: 1;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.upload button {
    border: transparent;
    border-radius: 50px;
    width: 150px;
    background-color: #44459f;
    cursor: pointer;
    margin-top: 2rem;
    padding: .5rem;
    font-size: 1.5rem;
}

.upload button:active {
    background-color: #5b5cb9;
}

.playlist-container {
    grid-area: playlist;
    overflow: hidden;
    padding-bottom: 4rem;
}

