.header {
    border-bottom: 1.5px solid white;
    border-color: rgba(128, 128, 128, 0.8);
    font-size: 1.5rem;
    display: flex;
    height: 26px;
    justify-content: space-around;
}

.song {
    display: flex;
    gap:15px;
    align-items: center;
}

.song:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.35);
}

.thumbnail {
    border-radius: 5px;
    height: 5rem;
    width: 5rem;
    object-fit: cover
}


.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.titleContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist {
    margin: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 30rem; */
    /* height: 260px; */
    /* padding-bottom: .5rem; */
    overflow-y: scroll;
    justify-content: flex-start;
    /* margin-bottom: .75rem; */
    /* margin-bottom: 5rem; */
    flex: 2;
}


.runtime {
    margin-left: auto;
}

.upload-container {
    margin: auto;
}