.search {
    grid-area: search;
    margin: auto;
}

input[type=text] {
    background-color: #0d0d0d;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    min-width: 0;
}

input[type=text]:focus {
    outline: none;
}