.album-art {
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 1;
}

.large-album {
    width: 50%;
    margin: auto;
}

.small-album-art {
    width: 10%;
}

.flex {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.4rem;
}

#music_player_container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 6fr 75px;
    grid-template-areas:
        "thumbnail"
        "playlist"
        "media-controls"
}

.background {
    background-color: #0d0d0d;
}

.music_player_header {
    margin: 2rem;
    grid-area: thumbnail;
}


.test {
    overflow: hidden;
    flex-grow: 1;
}

@media (min-width: 992px) {
    #music_player_container {
        grid-template-columns: 60% 40%;
        grid-template-rows: auto 10fr .5fr;
        grid-template-areas:
            "thumbnail search"
            "thumbnail playlist"
            "media-controls media-controls"
    }
}