/* Image styling */
.album-art {
    cursor: pointer;
}

.square-image {
    object-fit: cover;
    height: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 25px;
    transform-origin: top left;

}

.large-album {
    padding: 1rem;
    /* transform: translate(0, 0); */
    transform-origin: top left;
    /* transform-origin: center; */
    transition: height .75s ease-in-out, margin .75s ease-in-out; /* set transition out */
}

h1 {
    font-size: 1.4rem;
}

#music_player_container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% auto min-content;
    grid-template-areas:
        "thumbnail"
        "media-controls"
        "library";
    transition: grid-template-rows .75s ease-out;
}


.background {
    background-color: #000000;
}

.music_player_header {
    grid-area: thumbnail;
    display: flex;
    align-items: center;
}

.large-album.shrink {
    height: 10vh;
    /* position: absolute; */
    position: relative;
    /* top: 20px; */
    /* left: 20px; */
    border-radius: 15px;
    transform: translate(0, 0);
}

.large-album:not(.shrink) {
    /* margin: auto; */
    margin: .75rem auto 0 auto;
}

#music_player_container.library-open {
    grid-template-rows: 15% auto min-content;
}

.music_player_header.library_open {
    display: flex;
    justify-content: space-between;
}

.media-controls {
    overflow: hidden;
    flex-grow: 1;
}

.song-info {
    width: 100%;
}


@media (min-width: 992px) {
    #music_player_container {
        grid-template-columns: 60% 40%;
        grid-template-rows:  60% auto;
        grid-template-areas:
            "thumbnail library"
            "media-controls library"
    }

    .album-art.square-image {
        margin: .75rem auto 0 auto;
    }
}